/*
 Default: #ff8400;
 */
/*

h1,
a {
    color: #ff8400 !important;
}
*/

.Button,
.Form__control {
    border-color: #ff8400 !important;
}

.Button {
    color: #ff8400 !important;
}

.Button:focus,
.Button:hover {
    background: #ff8400 !important;
    color: #fff !important;
}

.Form__control:focus {
    border-color: #ddd !important;
}
/*
.section_color_change {
    background: #ff8400 !important;
}*/

.menu_fix {
    background: #ff8400 !important;

}
